.symbol {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 210px;
  //background-color: gray;

  .deathly {
    position: absolute;
    bottom: 7px;
    left: 50%;
    width: 230px;
    height: 5px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(white, 0.5);
    transform: translateX(-50%);
    z-index: 10;

    &:before,
    &:after {
      position: absolute;
      content: '';
      bottom: -14px;
      width: 5px;
      height: 224px;
      background-color: white;
      border-radius: 7px;
      box-shadow: 0 0 15px rgba(white, 0.5);
      z-index: 11;
    }

    &:before {
      left: 56px;
      transform: rotate(30.75deg);
    }

    &:after {
      right: 56px;
      transform: rotate(-30.5deg);
    }
  }

  .hallows {
    position: absolute;
    bottom: 7px;
    left: 50%;
    width: 130px;
    height: 130px;
    border: 5px solid white;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(white, 0.5);
    transform: translateX(-50%);

    &:before {
      position: absolute;
      content: '';
      top: -68px;
      left: 50%;
      width: 5px;
      height: 190px;
      background-color: white;
      border-radius: 7px;
      box-shadow: 0 0 15px rgba(white, 0.5);
      transform: translateX(-50%);
    }
  }
}
