@import './base.css';
@import './logo.scss';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined';
@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

body {
  min-height: max(100dvh);
  font-family: 'Inter', sans-serif;
}

:root {
  --primary: #1193d4;
  --background-light: #f6f7f8;
  --background-dark: #101c22;
}

/* Ejemplo de estilo global opcional */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-light);
  color: #0f172a;
}
